CONFIG_BOARD_TYPE_WAVESHARE_ESP32_S3_TOUCH_AMOLED_2_06=y
CONFIG_LANGUAGE_TH_TH=y
CONFIG_OTA_URL="https://alice.project-alice.uk/xiaozhi/ota/"
CONFIG_USE_WECHAT_MESSAGE_STYLE=n
CONFIG_USE_DEVICE_AEC=y
